.close-button {
	background-image: url("../keepitmoving/page1/03.SYSTEM_close_idle.png");

}
.close-button:active{
    background-image: url("../keepitmoving/page1/03.SYSTEM_close_pressed.png");
}
.min-button {
	background-image: url("../keepitmoving/page1/03.SYSTEM_collapse_idle.png");
}
.min-button:active{
    background-image: url("../keepitmoving/page1/03.SYSTEM_collapse_pressed.png");
}
.max-button {
	background-image: url("../keepitmoving/page1/03.SYSTEM_expand_idle.png");
}
.max-button:active{
    background-image: url("../keepitmoving/page1/03.SYSTEM_expand_pressed.png");
}

.menu-button, .menu-button:hover, .menu-button:active{
    background-color: transparent;
    border: none;
    width: 53px;
    height: 53px;
    z-index: 10000;
}