@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="checkbox"],
  input[type="radio"] {
    display: none;
  }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: block;
    padding: 0 0 0 0px;
    background: url("assets/keepitmoving/inputs/checkbox.png") no-repeat;
    height: 50px;
    width: 50px;
    background-size: 50%;
  }
  input[type="checkbox"]:checked + label,
  input[type="radio"]:checked + label {
    background: url("assets/keepitmoving/inputs/checkbox-checked.png") no-repeat;
    height: 50px;
    width: 50px;
    display: block;
    background-size: 50%;
  }

  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="url"] {
    background: url("assets/keepitmoving/inputs/text-field.png") no-repeat;
    width: 623px;
    height: 60px;
    padding-left: 20px;
    font-size: 20px;
  }
}

@font-face {
  font-family: "Coture";
  src: url("assets/fonts/couture-bld.otf");
}
@font-face {
  font-family: "FRIZQT";
  src: url("assets/fonts/FRIZQT.otf");
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
}

main {
  background-image: url("assets/keepitmoving/background/background-pattern-block.png");
  background-repeat: repeat;
  color: #ccc8b8;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
}
@layer components {
  .coture {
    color: #fed32a;
    font-family: "Coture";
  }

  .friz {
    font-family: "FRIZQT";
    color: #f4f4f4;
  }

  .connection-status.offline {
    background-image: url("assets/keepitmoving/buttons/Offline-Calm.png");
  }
  .connection-status.online {
    background-image: url("assets/keepitmoving/buttons/Online-Calm.png");
  }
  .connection-status {
    width: 343px;
    height: 106px;
    background-repeat: no-repeat;
    background-size: auto;
  }
  .top-bar {
    background-image: url("assets/keepitmoving/background/block-TOP.png");
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
  }
  .bottom-bar {
    background-image: url("assets/keepitmoving/background/block-BOTTOM.png");
  }
  .left-bar {
    background-image: url("assets/keepitmoving/background/block-LEFT.png");
  }
  .right-bar {
    background-image: url("assets/keepitmoving/background/block-RIGHT.png");
  }
  .top-left-corner {
    background-image: url("assets/keepitmoving/background/border-LeftTop.png");
  }
  .top-right-corner {
    background-image: url("assets/keepitmoving/background/border-RightTop.png");
  }
  .bottom-right-corner {
    background-image: url("assets/keepitmoving/background/border-RightBottom.png");
  }
  .bottom-left-corner {
    background-image: url("assets/keepitmoving/background/border-LeftBottom.png");
  }

  .top-wood {
    background-image: url("assets/keepitmoving/background/background_wooden_block.png");
    background-repeat: no-repeat;
  }

  .corner {
    background-repeat: no-repeat;
    z-index: 9999;
    height: 297px;
    width: 400px;
  }
  .image-border {
    pointer-events: none;
    position: fixed;
    z-index: 9998;
  }
  .launch-button {
    background-repeat: no-repeat;
    background-image: url("assets/keepitmoving/buttons/Launch-Calm.png");
    width: 260px;
    height: 85px;
  }
  .launch-button:active {
    color: beige;
    background-image: url("assets/keepitmoving/buttons/Launch-Pushed.png");
  }
  .generic-btn {
    font-family: "Coture";
    color: #fed32a;
    height: 64px;
    width: 197px;
    padding-top: 10px;
    padding-bottom: 18px;
    padding-left: 12px;
    padding-right: 12px;
    margin: auto;
  }
  .generic-btn.sm {
    height: 25px;
    width: 46px;
    font-size: small;
    padding: 0;
  }
  .generic-btn.md {
    height: 47px;
    width: 72px;
    font-size: small;
    padding: 0;
  }
  .generic-btn-blue {
    background-image: url("assets/keepitmoving/buttons/Generic-Inactive.png");
  }
  .generic-btn-blue:has(button:active:enabled),
  .generic-btn-blue-active {
    background-image: url("assets/keepitmoving/buttons/Generic-Pressed.png");
  }
  .generic-btn-red {
    background-image: url("assets/keepitmoving/buttons/banlist-calm.png");
  }
  .generic-btn-red:has(button:active:enabled),
  .generic-btn-red-active {
    background-image: url("assets/keepitmoving/buttons/banlist-pressed.png");
  }
  .generic-btn-red.sm {
    background-image: url("assets/keepitmoving/buttons/ban-calm.png");
  }
  .generic-btn-red.sm:has(button:active:enabled),
  .generic-btn-red-active.sm {
    background-image: url("assets/keepitmoving/buttons/ban-pushed.png");
  }
  .generic-btn-red.md {
    background-image: url("assets/keepitmoving/buttons/Banlist-short-calm.png");
  }
  .generic-btn-red.md:has(button:active:enabled),
  .generic-btn-red-active.md {
    background-image: url("assets/keepitmoving/buttons/Banlist-short-pressed.png");
  }
  .generic-btn-teal {
    background-image: url("assets/keepitmoving/buttons/modlist-calm.png");
  }
  .generic-btn-teal:has(button:active:enabled),
  .generic-btn-teal-active {
    background-image: url("assets/keepitmoving/buttons/modlist-pressed.png");
  }
  .generic-btn-green {
    background-image: url("assets/keepitmoving/buttons/whitelist-calm.png");
  }
  .generic-btn-green:has(button:active:enabled),
  .generic-btn-green-active {
    background-image: url("assets/keepitmoving/buttons/whitelist-pressed.png");
  }
  .generic-btn:has(button:active:enabled) {
    color: #ad911d;
    padding-top: 15px;
  }
  .generic-btn.sm:has(button:active:enabled) {
    color: #ad911d;
    padding-top: 4px;
  }
  .generic-btn-disabled {
    background-image: url("assets/keepitmoving/buttons/Generic-Pressed.png") !important;
  }
  .generic-btn-disabled.sm {
    background-blend-mode: saturation;
    background-image: linear-gradient(black, black),
      url("assets/keepitmoving/buttons/ban-pushed.png") !important;
  }
  .generic-btn-disabled.sm {
    background-image: url("assets/keepitmoving/buttons/Logs-pushed.png") !important;
  }
}

::-webkit-scrollbar {
  width: 52px;
}

/* Track */
::-webkit-scrollbar-track {
  max-height: 671px;
  margin-top: 25px;
  margin-bottom: 25px;
  background: no-repeat url("assets/keepitmoving/scrollbar/Scroll_base.png") center;
  background-size: cover;
}

/* Handle */
::-webkit-scrollbar-thumb {
  max-height: 671px;
  height: 225px;
  background: no-repeat url("assets/keepitmoving/scrollbar/Scroller.png");
  background-size: cover;
  background-position: center;
}

.close-button {
  background-image: url("assets/keepitmoving/system/close_idle.png");
}
.close-button:active {
  background-image: url("assets/keepitmoving/system/close_pressed.png");
}
.min-button {
  background-image: url("assets/keepitmoving/system/collapse_idle.png");
}
.min-button:active {
  background-image: url("assets/keepitmoving/system/collapse_pressed.png");
}
.max-button {
  background-image: url("assets/keepitmoving/system/expand_idle.png");
}
.max-button:active {
  background-image: url("assets/keepitmoving/system/expand_pressed.png");
}

.menu-button,
.menu-button:hover,
.menu-button:active {
  background-color: transparent;
  border: none;
  width: 53px;
  height: 53px;
  z-index: 10000;
}
